<div style="position: fixed; bottom: 10px; right: 10px;">
    {{ "skier.jpg" | asset_img_url: '100px' | image_tag }}
</div>

{% schema %}
{
    "name": "Floating Skier",
    "target": "body"
}
{% endschema %}